body {
  background-color: #000;
  color: #CCE;
  font-family: sans-serif;
}

.synth thead {
  text-align: center;
}

.synth .block {
  display: block;
}

.synth table {
  display: inline;
  margin: 0 1em;
}

.synth output {
}
