body {
  background-color: #000;
  color: #CCE;
  font-family: sans-serif;
}

.synth thead {
  text-align: center;
}

.synth .block {
  display: block;
}

.synth table {
  display: inline;
}

.synth output {
  display: inline-block;
  width: 4em;
}
