body {
  background-color: #000;
  color: #CCE;
  font-family: sans-serif;
  margin: 0;
}

.Prometheus {
  margin: 1em;
}

.Prometheus thead {
  text-align: center;
}

.Prometheus .block {
  display: block;
}

.Prometheus menu {
  margin: 0;
  padding: 0;
}
.Prometheus menuitem {
  background-color: white;
  display: none;
}

.Prometheus table {
  display: inline;
  margin: 0 1em;
  margin: 0;
}
