$bodyBackgroundColor: #000;
$fontColor: #cea;

body {
    background-color: $bodyBackgroundColor;
    margin: 0;

    .Awe {
      color: $fontColor;
      border-radius: 3em;
      box-shadow: 0em 0em 1em 0em $fontColor;
      display: inline-block;
      font-family: sans-serif;
      margin: 1em;

      h1 {
        text-align: center;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover {
          cursor: default;
          text-shadow: 0 0 1em lighten($fontColor, 10%);
        }
      }
    }

    .Prometheus {
      $colorTheme: #ace;

      border-radius: 3em;
      box-shadow: 0em 0em 1em 0em $colorTheme;
      color: $colorTheme;
      cursor: default;
      display: inline-block;
      font-family: sans-serif;
      margin: 1em;
      padding: 1em;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      h2 {
        text-align: center;

        &:hover {
          text-shadow: 0 0 1em lighten($colorTheme, 10%);
        }
      }

      nav {
        $menuColorTheme: darken($colorTheme, 50%);

        margin: 0;
        padding: 0;

        ul {
          border-radius: 1em;
          display: inline-block;
          list-style: none;
          padding: 0;
          position: relative;
          box-shadow: 0 0 1em 0.2em $menuColorTheme;
          &:hover {
            box-shadow: none;
          }
        }

        ul li {
          text-align: center;
          width: 12em;

          &:hover {
            background-color: $menuColorTheme;
            color: lighten($menuColorTheme, 70%);

            ul {
              display: block;
            }

            ul li {
              border-radius: 0;
            }
          }
        }

        ul ul {
          cursor: pointer;
          display: none;
          position: absolute;
          z-index: 1;
          box-shadow: none;
        }

        ul ul li {
          background-color: $menuColorTheme;

          &:hover {
            background-color: darken($menuColorTheme, 10%);
            color: lighten ($menuColorTheme, 50%);
          }
        }

      }

      table {
        display: inline;
        margin: 0 1em;
        margin: 0;
      }

      .center {
        display: block;
        text-align: center;
      }
    }
}
