body {
  $bodyBackgroundColor: #050505;

  background-color: $bodyBackgroundColor;
  margin: 0;

  table {
    display: inline-block;
  }
  .center {
    text-align: center;

    .awe {
      $fontColor: #cea;

      color: $fontColor;
      border-radius: 3em;
      box-shadow: 0em 0em 1em 0em $fontColor;
      display: inline-block;
      font-family: sans-serif;
      margin: 1em;

      h1 {
        display: inline-block;
        text-align: center;
        user-select: none;

        &:hover {
          cursor: default;
          text-shadow: 0 0 1em lighten($fontColor, 10%);
        }
      }
    }
  }

  .prometheus {
    $colorTheme: #ace;

    border-radius: 3em;
    box-shadow: 0em 0em 1em 0em $colorTheme;
    color: $colorTheme;
    cursor: default;
    display: inline-block;
    margin: 1em;
    padding: 1em;
    position: relative;
    user-select: none;

    h2 {
      display: inline-block;
      text-align: center;

      &:hover {
        text-shadow: 0 0 1em lighten($colorTheme, 10%);
      }
    }

    nav {
      $menuColorTheme: darken($colorTheme, 50%);

      margin: 0;
      padding: 0;

      ul {
        border-radius: 1em;
        display: inline-block;
        list-style: none;
        padding: 0;
        position: relative;
        box-shadow: 0 0 1em 0.2em $menuColorTheme;
        &:hover {
          box-shadow: none;
        }
      }

      ul li {
        text-align: center;
        width: 12em;

        &:hover {
          background-color: $menuColorTheme;
          color: lighten($menuColorTheme, 70%);

          ul {
            display: block;
          }

          ul li {
            border-radius: 0;
          }
        }
      }

      ul ul {
        cursor: pointer;
        display: none;
        position: absolute;
        z-index: 1;
        box-shadow: none;
      }

      ul ul li {
        background-color: $menuColorTheme;

        &:hover {
          background-color: darken($menuColorTheme, 10%);
          color: lighten ($menuColorTheme, 50%);
        }
      }
    }

    table {
      font-size: 0.67em;
      margin: 0;

      td {
        text-align: left;
        input, select {
          margin: 0 1em;
          padding: 0 0.1em;
          width: 12em;
        }
        select {
          width: 12.5em;
        }
        output {
          display: block;
          width: 4em;
        }
      }
    }

    .center {
      display: block;
      text-align: center;
    }

    .hidden {
      display: none;
    }

    .modalWindow {
      $modalColorTheme: darken($colorTheme, 50%);
      $width: 50%;
      $padding: 4%;
      $left: 50% - $width / 2 - $padding;
      $top: 25%;

      background-color: $bodyBackgroundColor;
      border-radius: 1em;
      box-shadow:  0 0 2em 2em $modalColorTheme;
      display: inline-block;
      left: $left;
      overflow: auto;
      padding: $padding / 2 $padding;
      position: absolute;
      top: $top;
      width: $width;
      z-index: 2;

      button {
        margin: 1em 0.5em;
        width: 6em;
      }

      select {
        display: block;
        margin: 1em auto;
      }

      input {
        display: block;
        margin: 1em auto;
      }

      output {
        cursor: text;
        user-select: text;
      }

      .margin {
        margin: 1em;
      }
    }

    .tinyText {
      font-size: 0.5em;
      word-wrap: break-word;
    }
  }

  .Sequencer {
    $colorTheme: #f5e5a0;
    $empty: rgba($colorTheme, 0.1);
    $full: rgba(lighten($colorTheme, 10%), 0.7);

    border-radius: 3em;
    box-shadow: 0em 0em 1em 0em $colorTheme;
    color: $colorTheme;
    cursor: default;
    display: inline-block;
    margin: 1em;
    padding: 1em;
    position: relative;
    user-select: none;

    input {
      width: 16em;
    }

    .empty {
      background-color: $empty;

      &:hover {
        background-color: rgba($empty, 0.2);
      }
    }

    .emptyActive {
      background-color: lighten($empty, 50%);

      &:hover {
        background-color: lighten(rgba($empty, 0.2), 50%);
      }
    }

    .full {
      background-color: lighten($full, 50%);

      &:hover {
        background-color: lighten(rgba($full, 0.2), 50%);
      }
    }
    .fullActive {
      background-color: $full;

      &:hover {
        background-color: rgba($full, 0.2);
      }
    }

    .pattern {
      margin: 1em;

      div {
        height: 2em;
        line-height: 2em;
        width: 3em;
      }
    }

    h2 {
      display: inline-block;
      text-align: center;

      &:hover {
        text-shadow: 0 0 1em lighten($colorTheme, 10%);
      }
    }
  }
}
